use flake

SNOWSQL_EXTRACT=$(cat ~/.snowsql/config | jc --ini | jq '."connections.envrc"')

export SNOWFLAKE_ACCOUNT=$(echo $SNOWSQL_EXTRACT | jq -r '.accountname')
export SNOWFLAKE_ACCOUNT_URL="https://${SNOWFLAKE_ACCOUNT}.snowflakecomputing.com"
export SNOWFLAKE_USER=$(echo $SNOWSQL_EXTRACT | jq -r '.username')
export SNOWFLAKE_PASSWORD=$(echo $SNOWSQL_EXTRACT | jq -r '.password')
export SNOWFLAKE_DATABASE=$(echo $SNOWSQL_EXTRACT | jq -r '.dbname')
export SNOWFLAKE_SCHEMA=$(echo $SNOWSQL_EXTRACT | jq -r '.schemaname')
export SNOWFLAKE_WAREHOUSE=$(echo $SNOWSQL_EXTRACT | jq -r '.warehousename')
export SNOWFLAKE_ROLE=$(echo $SNOWSQL_EXTRACT | jq -r '.rolename')
export PRJ_ROOT=$(git rev-parse --show-toplevel)
export SIS_QUERY_WAREHOUSE=$SNOWFLAKE_WAREHOUSE
export SIS_GRANT_TO_ROLE="ACCOUNTADMIN"
export NA_GRANT_TO_ROLE="ACCOUNTADMIN"
