# Manual:
# https://direnv.net/man/direnv-stdlib.1.html

# Load the default dev environment from nix flake
use flake

# An example setting, can be overridden in .env
# .env file should not be tracked by git
export SNOWFLAKE_DEFAULT_CONNECTION_NAME="default"

# These variables affect nix apps that deploy/configure the application
export SIS_QUERY_WAREHOUSE="SENTRY"
export SIS_GRANT_TO_ROLE="ACCOUNTADMIN"
export NA_GRANT_TO_ROLE="ACCOUNTADMIN"

# Load variables from ".env" <=> it exists in the root dir
# Local overrides can be stored here
dotenv_if_exists
