# Manual:
# https://direnv.net/man/direnv-stdlib.1.html

# Load the default dev environment from nix flake
use flake

# An example setting, can be overridden in .env
# .env file should not be tracked by git
export SNOWFLAKE_DEFAULT_CONNECTION_NAME="default"

# These variables affect nix apps that deploy/configure the application

# SiS-specific variables.
# Default values set based on the setup script
# TODO: Drop this when issue #8 is implemented
export SIS_QUERY_WAREHOUSE="SENTRY"
# Streamlit in Snowflake will be located in this database
export SIS_APP_DATABASE="SENTRY_DB"
# Streamlit in Snowflake will be located in this schema
export SIS_APP_SCHEMA="PUBLIC"
export SIS_OWNER_ROLE="SENTRY_SIS_ROLE"
export SIS_GRANT_TO_ROLE="ACCOUNTADMIN"

export NA_GRANT_TO_ROLE="ACCOUNTADMIN"

# Load variables from ".env" <=> it exists in the root dir
# Local overrides can be stored here
dotenv_if_exists
